<nav class="navBar">
	<nav class="wrapper">
		<div class="logo">
      <img src="/img/logo_02 (1).png" style="height:40px;"/>
      <h1 style="color:white;font-size: 20px;">MoM</h1>
     
     
    </div>
    
		<ul class="topnav" id="myTopnav">
      <li><a href="/pricing/">Pricing</a></li>
     <li><a href="/login/">Login</a></li>
		<li><a href="/blog/">Blog</a></li>
    <li><a href="/signup/">Signup</a></li>
    </ul>
     
      <div class="icon">
    <a style="font-size:15px;" class="dummy">☰</a>
    
  </div>
<div class="nav-menu">
  <li>pricing</li>
  <li>Login</li>
  <li>Blog</li>
  <li>Signup</li>
  </div>
		
	</nav>
</nav>


