.bottom-footer {
  background-color: black;
  border-top: 1px solid $black;
  color: $grey-color;
  .hi-container {
    text-align: center;
  }
  .footer-heading
  {
    text-align: center;
    
  font-family: ProximaNova;
  font-size: 8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3e4959;
  }
}

.hi-footerfont {
  font-family: 'Open Sans', sans-serif;
  word-spacing: -1px;
}
