



h1.display5 {
  font-family: Roboto;
  text-align: center;
  


  }
  h2.display8{
    font-family: Roboto;
  text-align: center;

  }
  


.block {
  background-color: $grey-lighter-color;
  border: 1px $border-color solid;
  box-shadow: 0 2px 5px $black-light-color;
  text-align: justify;
}

.mom-header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin:0px;

  .header-text {
    align-self: center;
    font-size: 1.4em;
    font-weight: 900;
  }
}

.middle {
  text-align: center;
   
  margin-top: 241px;
    
  }
.first{
  width: 100%;
  height: 1079px;
}

.container
{
  display:flex;
  flex-direction:column;
 width: 100%;
  height:680px;
  background-color:red;
  object-fit: contain;
}
.second{
  display:flex;
  flex:2;
  width:100%;
    height:1079px;
    background-color: blue;
}

.container3{
width:100%;
height:7764px;
}

