
<!DOCTYPE html>
<html lang="en-gb">

<head>
  {% include head.html title=page.title %}

  
</head>

<body>
  <div class="first">
    {% include header.html %}
    
      <section class="middle">
        <div class="Top-heading"><h1 style="color:white">Meeting Notes Made Easy</h1></div>
        <h5 style="color:white">Run engaging meetings that drive change.</h5>

        <button type="button" class="take-trial-button">Take 10 day free trial</button>
        <div class="heading-exe">
          <center>
            <h5 style="color:white"> Excellent for recruiting-corporate meeting minutes</h5>
          </center>
        </div>
        <div class="container-image">
        <center>
          <img src="/img/mock_01.png" alt="i1" align="center" style="width: 80%; height: 300px;" /></center>
          </div>


</section>

</div>
<div class="second">
  <div class="main-content0">
    <div class="image1">
      <center>
          <img src="/img/logo_02 (1).png" alt="i1" align="center" style="width:5%; height: 36px" /></center>

      </div>
      <div class="heading1"><h2>MOM</h2></div>
      <div class="paragraph"><p>Effective meetings are hard work. Apart from the agenda at hand, someone needs to be thinking  about the processes and following up.</p> </div> 
       
      </div>
  </div>

  <div class="third">
    <div class="third-left">
      <div class="heading2">
        <h1 style="font-size:20px; font-family: Arial, Helvetica, sans-serif">Collaborative Notes.</h1>
        <p>There isn’t any UI. Type notes as you normally would and action items are created.</p>
         <button type="button" class="button3">Get started</button>
       

    </div>
    </div>
    <div class="third-right">
      <center><img src="/img/mock_two.png" alt="i2" align="right" style="width:60%" height:600px;/></center>
    </div>
    </div>
  
  <div class="fourth">
    <div class="fourth-left">
    <center><img src="/img/mock_three.png" alt="i2" align="left" style="width:50%" height:600px;/></center>
    </div>

    
      <div class="fourth-right">
        <div class="heading-getstart">
        <h1 style="font-size:20px; font-family: Arial, Helvetica, sans-serif">Simple just start typing.</h1>
        <p>No Complicated forms, drop downs. As simple as talking notes on paper. Just start typing.</p>
         <button type="button" class="Getstart">Get started</button>

      </div>
</div>
</div>
<div class="fifth">
  
    <div class="fifth-left">
      <img src="/img/temp.png" alt="i3" style="width:10%" height:30px;/>
 <div class="headings" > <h5 style="font-family: Arial, Helvetica, sans-serif">Templates</h5></div>
<div class="para"> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque lectus felis, vulputate hendrerit augue fermentum dictum. Proin sed rutrum nisl. Aliquam vel libero velit.</p></div>
   </div>
    <div class="fifth-med">
      <img src="/img/wid.png" alt="i4" style="width: 10%" height:30px;/>
    <div class="heading4">  <h5 style="font-family: Arial, Helvetica, sans-serif">Widgets</h5></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque lectus felis, vulputate hendrerit augue fermentum dictum. Proin sed rutrum nisl. Aliquam vel libero velit.</p>

    </div>
    <div class="fifth-right">
      <img src="/img/Action.png" alt="i4" style="width: 10%" height:30px;/>
     <div class="heading5"> <h5 style="font-family: Arial, Helvetica, sans-serif">Action</h5></div>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque lectus felis, vulputate hendrerit augue fermentum dictum. Proin sed rutrum nisl. Aliquam vel libero velit.</p>

      
    </div>
  
  </div>
  <div class="sixth">
  
   <div class="sixth-1"> <h5 style="font-size:30px; color:white">2000+</h5>
    <p style="font-size:15px; color: white">Meeting minutes</p>
    </div>
    <div class="sixth-2"><h5 style="font-size:30px; color:white">100+</h5>
    <p style="font-size:15px; color: white">Decisions Made</p></div>
   <div class="sixth-3"><h5 style="font-size:30px; color:white">80+</h5>
   <p style="font-size:15px; color:white">Active Teams</p></div>
    <div class="sixth-3"><h5 style="font-size:30px; color:white">800+</h5>
   <p style="font-size:15px; color:white">Action Items</p></div>
  </div>
<div class="seven">
  <div class="heading7"><h5 style="font-size:40px; color:white">Our Users Say</h5></div>
  <center>
        <div class="dp"><center>  <img src="/img/dp.png" alt="i1" align="center" style="width:50%; height: 80px" /></div></center>
 <div class="himanshu"><h5>Himanshu</h5></div>
 <div class="ceo"><h5>CEO</h5></div>
 <div class="himanshu1"><h5>Hashed.</h5></div><div class="ceo1"><h5>in</h5></div>
 
<div class="heading8"><p>MoM has an absolutely amazing and simple to use UI that has saved me countless hours working with my team and clients. I have falling in love with Rating & Polls which helps me collect feedback instantly and without bias.<a href="must use">Must use</a></p></div>
  <div class="heading9"><p>Don’t take Himanshu’s word? Take a free trial and find for yourself.</p></div>
 <button type="button" class="button5" >Take 10 days free trial</button>
  
  </div>

  <div class="eigth">
    <div class="content1">
      <div class="pricing-plans">
        <h5>Pricing & plans</h5>
        <h5>No credit card for trial Cancel Anytime</h5>
       
      </div>
    </div>
    <div class="content2">
      <div class="rounded-block">
        
      </div>
      </div>
    </div>
 <div class="ninth">
  <div class="Get-in-touch"> <h1 style="color:white">Get in Touch</h1></div>
  <div class="name"><h5>Enter Your Name</h5></div>
  <div class="line1"><h5>_________________</h5></div>
  <div class="email"></h5>Enter your email</h5></div>
   <div class="line1"><h5>_________________</h5></div>
    <div class="msg"><h5>Enter Your Message</h5></div>
    <button type="button" class="button6">Send</button>
   </div>
<div class="tenth">
  </div>
  <div class="Eleventh">
    </div>
    </body>
    {% include footer.html %}
     
</html>
